<template name="customPageTitleModal">
	<div id="customPageTitleModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body text-left">
					<div class="form-group">
						<label for="usr">Title:</label>
						<input type="text" class="form-control" placeholder="Enter title..." id="title-input" data-action="check-title">
						{{#if titleExists}}
							<h3><span class="label label-danger">Title already exists, choose another one.</span></h3>
						{{/if}}
					</div>
					<div class="form-group clearfix">
						<button type="button" class="btn btn-success pull-right" data-action="create">create</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>